/*用于定义scss里用到的函数*/

/* 屏幕宽度断点的上界 */
$md_point:1200px;
$sm_point:992px;
$xs_point:768px;


/* 媒体查询断点 */
@mixin breakpoint($point) {
  @if $point==lg {
    @media screen and (min-width: $md_point) {
      @content;
    }
  }
  @else if $point==md {
    @media screen and (min-width: $sm_point) and (max-width: $md_point) {
      @content;
    }
  }
  @else if $point==sm {
    @media screen and (min-width: $xs_point) and (max-width: $sm_point) {
      @content;
    }
  }
  @else if $point==xs {
    @media screen and (max-width: $xs_point) {
      @content;
    }
  }
}

// 水平居中盒子
@mixin horMidBox {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}

// 垂直居中盒子
@mixin verMidBox {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}


// 水平垂直居中盒子
@mixin allMidBox {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

/*横向盒子*/
@mixin rowBox(){
  display: flex;
  flex-flow: row nowrap;
}

/*纵向盒子*/
@mixin verBox(){
  display: flex;
  flex-flow: column nowrap;
}

// 背景图片地址和大小 覆盖
@mixin bgCover($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

// 设置盒子的圆角
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

// 宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

/**/
@mixin mgtb($top,$bot){
  margin-top: $top;
  margin-bottom: $bot;
}

@mixin pdtb($top,$bot){
  padding-top: $top;
  padding-bottom: $top;
}


// 字体大小，颜色
@mixin fontSizeColor($size, $color) {
  font-size: $size;
  color: $color;
}

// 全边框
@mixin fullBorder($px,$color) {
  border: $px solid $color;
}


/*清除浮动*/
@mixin clearFloat() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*用于兼容各浏览器内核的属性*/
@mixin css3($property, $value) {
  @each $prefix in -webkit-,
  -moz-,
  -ms-,
  -o-,
  '' {
    #{$prefix}#{$property}: $value;
  }
}


