/*用于定义scss里用到的静态变量*/

/* 常用颜色 */
$white:#fff;
$black:#000;
$gray:#E0E0E0;
$orange: #f4a100;
$yellow: #ffd944;
$blue: #2196F3;
$red:#FF3D00;
$green:#43A047;
$pink:#F48FB1;

/* components_colors */
// border
$clr_border: #dcdcdc; // 描边色
$clr_border_d: #c8c8c8; // 加深
$clr_border_l: #E3E3E3;  // 变浅

// btn
$clr_btn
$clr_btn_d
$clr_btn_l

// bg
$clr_bg_white:#f5f5f5;
$clr_bg_black: #292929;
$clr_bg_gray:#36393d;

// font
$clr_font_main: #231815; //主要字体色
$clr_font_1st: #333333; // 一级提示
$clr_font_2nd: #969696; // 二级提示
$clr_font_3rd: #b9b9b9; // 三级提示
$clr_font_ble: #3d82f7; // 字体蓝
$clr_font_red: #f76162; // 字体红


/* components size*/
// font
$size_font_p:18px;
$size_font_h1:32px;
$size_font_h2:28px;
$size_font_h3:24px;
$size_font_h4:20px;
$size_font_p:18px;
$size_font_small:16px;

